@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applying custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(to right, #ff6a88, #ffcc70);
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

.header-buttons li {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.header-buttons li:hover {
  color: #79b7f1;
}

/* Layout styling for the main content */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.introduction {
  flex-basis: 60%;
}

.introduction h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #79b7f1;
  margin-bottom: 20px;
}

.introduction p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Social links */
.social-links {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.social-links li {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links li:hover {
  transform: translateY(-5px);
  color: #79b7f1;
}

.social-links img {
  width: 24px;
  height: 24px;
}

/* Image on the right side */
.profile-image {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
}

.profile-image img {
  margin-top: 70px;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.profile-image img:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 992px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .introduction {
    flex-basis: 100%;
  }

  .profile-image {
    flex-basis: 100%;
    margin-top: 30px;
  }

  .introduction h1 {
    font-size: 3rem;
  }

  .introduction p {
    font-size: 1rem;
  }

  .profile-image img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .header-buttons {
    gap: 15px;
    flex-direction: column;
  }

  .header-buttons li {
    font-size: 1.2rem;
  }

  .introduction h1 {
    font-size: 2.5rem;
  }

  .introduction p {
    font-size: 0.9rem;
  }

  .social-links {
    gap: 30px;
  }

  .profile-image img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 576px) {
  .introduction h1 {
    font-size: 2rem;
  }

  .introduction p {
    font-size: 0.8rem;
  }

  .profile-image img {
    width: 200px;
    height: 200px;
  }
}
